
@{
    ViewBag.Title = "GestionCliente";
}

<h2 class="text-center">Productos Tecnologicos</h2>



<div class="container mt-5">
    <div class="row">
        <div class="col-3">
            <h3>Computador</h3>
            <img src="~/img/desktop.jpg" width="200" alt="Computador" />
            <p class="text-success"> <strong> Marcar: Gear Ryzen 9 Precio: 4.500.000 </strong></p>
            <p><a href="#" class="btn btn-primary btn-md m-2">Comprar</a></p>
        </div>

        <div class="col-3">
            <h3>Notebook</h3>
            <img src="~/img/notebook.jpg" width="200" alt="Notebook" />
            <p class="text-success"> <strong> Marcar: Asus Tuf Precio: 850.000 </strong></p>
            <p><a href="#" class="btn btn-primary btn-md m-2">Comprar</a></p>
        </div>

        <div class="col-3">
            <h3>Celulares</h3>
            <img src="~/img/iphone15pro.jpg" width="200" alt="Celulares" />
            <p class="text-success"> <strong> Marcar: Iphone 15 Pro Max Precio: 1.400.000 </strong></p>
            <p><a href="#" class="btn btn-primary btn-md m-2">Comprar</a></p>
        </div>

        <div class="col-3">
            <h3>Tablet</h3>
            <img src="~/img/ipadpro.jpg" width="200" alt="Tablet" /> 
            <p class="text-success"> <strong>    Marcar: Ipad PRO Precio: 2.500.000 </strong></p>
            <p><a href="#" class="btn btn-primary btn-md m-2">Comprar</a></p>
           


        </div>

    </div>

</div>