
@{
    ViewBag.Title = "GestionVendedor";
}

<h2>GestionVendedor</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <img src="~/img/Grafico.png" width="600px" alt="Alternate Text" />
        </div>

        <div class="col-6">
            <img src="~/img/man-8519568_1280.jpg" width="700px" alt="Alternate Text" />
        </div>
    </div>

<section id="lista">
    <h3 id="titulo2" class="text-center mt-5 gentium-plus-bold">Listado de Trabajadores</h3>
    <div class="container p-5">
        <div class="row">
            <div class="col-3">
                <div id="card" class="card border-warning text-bg-ligth mb-3 ">
                    <img src="~/img/1.jpg" class="card-img-top imagen rounded"
                         alt="...">
                    <div id="nombreT" class="card-header bg-warning bg-opacity-10 h4">Juan Luis Lopez</div>
                    <div class="card-body">
                        <h5 id="cargoT" class="card-title">Gerente general</h5>
                        <p class="card-text">Area: Todas</p>
                        <p id="correoT" class="card-text">JuanL@gmail.com</p>
                        <p id="fechaIngresoT" class="card-text">2014-01-01</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div id="card" class="card border-warning text-bg-ligth mb-3">
                    <img src="~/img/6.jpg" class="card-img-top imagen rounded" alt="...">
                    <div id="nombreT" class="card-header bg-warning bg-opacity-10 h4">Harold Deneken</div>
                    <div class="card-body">
                        <h5 id="cargoT" class="card-title">CEO</h5>
                        <p class="card-text">Area: Tecnologica</p>
                        <p id="correoT" class="card-text">eltroll3109@gmail.com</p>
                        <p id="fechaIngresoT" class="card-text">2021-10-12</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div id="card" class="card border-warning text-bg-ligth mb-3">
                    <img src="~/img/4.jpg" class="card-img-top imagen rounded" alt="...">
                    <div id="nombreT" class="card-header bg-warning bg-opacity-10 h4">Mariano Solis Carrasco</div>
                    <div class="card-body">
                        <h5 id="cargoT" class="card-title">Gerente</h5>
                        <p class="card-text">Area: Finanzas</p>
                        <p id="correoT" class="card-text">marianaC@gmail.com</p>
                        <p id="fechaIngresoT" class="card-text">2016-02-20</p>
                    </div>
                </div>
            </div>
       
            <div class="col-3">
                <div id="card" class="card border-warning text-bg-ligth mb-3">
                    <img src="~/img/7.jpg" class="card-img-top imagen rounded" alt="...">
                    <div id="nombre0" class="card-header bg-warning bg-opacity-10 h4"> Danilo Negrete</div>
                    <div class="card-body">
                        <h5 id="cargo0" class="card-title"></h5>
                        <p class="card-text">Area: Administrador</p>
                        <p id="correoT" class="card-text">DaniloNegrete@gmail.com</p>
                        <p id="fechaIngreso0" class="card-text">2024-02-10</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>